.header-contacts {
  margin-bottom: 200px;
  min-height: 501px;
  background-image: url("../img/contacts-header-bg.png");
  background-repeat: no-repeat;
}

.header {
  &-contacts__hero {
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-contacts__title {
    margin: 0;
    @include h1;
    color: $white;
  }
}

.back-to--hidden {
  display: none;
}

.contact-us {
  margin: 0 15.2% 262px;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title contacts"
    "form contacts";
  align-items: center;
  gap: 47px 20px;

  &__title {
    grid-area: title;
    @include h3;
    color: $black;
  }

  &__form {
    grid-area: form;
  }

  &__contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    gap: 77px;
  }

  &__contact-link {
    display: flex;
    gap: 41px;
    @include h4;
    color: $black;
  }

  &__contact-icon {
    width: 83px;
    height: 83px;
  }
}

@include tablets {
  .header-contacts {
    margin-bottom: 13px;
    min-height: 528.55px;
    background-image: url("../img/contacts-header-bg-tablets.png");
    background-size: cover;
  }
  .header {
    &-contacts__hero {
      min-height: 317px;
    }
  }
  .back-to--hidden {
    display: block;
  }

  .contact-us {
    margin: 0 20px 134px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "contacts"
      "title"
      "form";
    justify-items: center;
    gap: 53px;

    &__title {
      text-align: center;
    }

    &__form {
      justify-items: center;
    }

    &__contacts {
      margin-bottom: 57px;
      gap: 28px;
    }
  }
}

@include phones {
  .header-contacts {
    height: 324px;
  }
}
