.header--common {
  position: relative;
  height: 501px; // Задаем высоту первого экрана
  background: url("../img/serviceHeroBg.jpg") no-repeat center center / cover;
  margin-bottom: 60px;
  // контейнер с заголовком
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &__container--col {
    flex-direction: column;
    gap: 44px;
  }
  // сам заголовок
  &__title {
    @include h1;
    color: $white;
  }
  // подзаголовок для страницы портфолио
  &__subtitle {
    @include h4;
    color: $white;
  }

  @include tablets {
    &__title {
      margin-top: 50px;
    }
  }
  @include phones {
    height: 324px; // Задаем высоту первого экрана
    margin-bottom: 13px;
    background: url("../img/serviceHeroBgPhones.jpg") no-repeat center center /
      cover;

    &__container {
      gap: 12px;
    }

    &__title {
      @include h5;
      font-weight: bold;
      margin-top: 50px;
    }
    &__subtitle {
      @include h6;
    }
  }
}

.header {
  position: relative;
  // тестовый фон, чтобы было видно лого и навигацию
  // background-color: rgb(33, 112, 64);
}

.header__first-line {
  padding-top: 28px;
  @include padding-header-footer-1920;
  display: grid;
  grid-template-columns: min-content 1.15fr min-content;
  align-items: center;
  gap: 6.86%;
}

.header__logo {
  display: flex;
  margin-top: 21px;
  margin-bottom: 21px;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 76px;
}

.header__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.header__nav-list-item-link {
  @include header-nav-font;
  color: $white;
}

.hamburger-menu {
  visibility: hidden;
  background-color: $olive-dark;
}

.hamburger-menu__toggle {
  display: none;
}

.hamburger-menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5%;
  width: 24px;
  height: 18px;
  cursor: pointer;
  z-index: 3;
}
// иконка бургер-меню с помощью спанов и псевдоэлементов
.hamburger-menu__icon,
.hamburger-menu__icon::before,
.hamburger-menu__icon::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2.6px;
  background-color: $white;
  transition-duration: 0.25s;
}

.hamburger-menu__icon::before {
  content: "";
  top: -7px;
}

.hamburger-menu__icon::after {
  content: "";
  top: 7px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding: 131px 45px 45px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  visibility: hidden;
  top: 0px;
  right: 0;
  z-index: 2;
  background-color: $olive-dark;
  background-image: url("../img/first-line-bg.svg");
  background-repeat: no-repeat;
  background-position: 130% 67.5%;
  @include header-burger-menu-font;
  color: $white;
  transition-duration: 0.25s;
}

.menu__item {
  display: flex;
  justify-content: center;
}

.menu__item:nth-child(-n + 3) {
  border-bottom: 0.5px solid $olive-light;
  width: 230px;
  padding: 22px;
}

.menu__item:nth-child(4) {
  padding-top: 22px;
  padding-bottom: 59px;
}

// адаптив для экранов с разрешением не более 768px

@include tablets {
  .header {
    &__nav,
    &__buttons {
      display: none;
    }

    &__first-line {
      @include padding-header-footer-768;
    }

    .header__img {
      width: 140px;
      height: 73.7px;
    }

    .hamburger-menu {
      visibility: visible;
      background-color: $olive-dark;

      .hamburger-menu__toggle:checked {
        ~ .hamburger-menu__btn > .hamburger-menu__icon {
          transform: rotate(45deg);

          &::before {
            top: 0;
            transform: rotate(0);
          }

          &::after {
            top: 0;
            transform: rotate(90deg);
          }
        }

        ~ .menu__box {
          visibility: visible;
        }
      }
    }
  }
}

// адаптив для экранов с разрешением не более 440px

@include phones {
  .header {
    &__first-line {
      padding-top: 16px;
      @include padding-header-footer-440;
    }

    &__logo {
      margin: 0px;
      z-index: 3;
    }

    &__img {
      width: 107px;
      height: 56px;
    }

    .menu__box {
      width: 100%;
    }
  }
}
