.faq-guide {
  display: grid;
  grid-template-columns: 1fr 464px; // FAQ занимает большую часть, guide фиксированную ширину
  gap: 75px;

  padding: 0 266px;
  margin-bottom: 140px;
}

.faq {
  &__title {
    @include h2;
    color: $black;
    margin-bottom: 58px;
  }

  &__item {
    border-bottom: 1px solid $gray;
    padding: 35px 0;
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    @include faq-question;
    text-align: left;

    &:hover {
      color: $olive-dark;
    }
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
  
    &--plus {
      background: url('../icons/plus.svg') no-repeat center;
      background-size: contain;
    }
  
    &--minus {
      background: url('../icons/minus.svg') no-repeat center;
      background-size: contain;
    }
  }

  &__answer {
    display: none;
    margin-top: 34px;
    @include h5;
    color: $black;
  }

  &__answer--visible {
    display: block;
    width: 85%;
  }
}

.guide {

  background-color: $green;

  &__title {
    @include h4;
    color: $black;
    text-align: center;
    padding: 33px 72px 25px 72px;
  }

  &__subtitle {
    @include h5;
    color: $black;
    text-align: center;
    margin-bottom: 20px;
  }

  &__image {
    width: 378px;
    height: 350px;
    background: url('../img/faq-guide.png') center/cover no-repeat;
    margin: 0 auto;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 75px;
  }

  &__input {
    padding: 10px 0px 10px 19px;
    width: 392px;
    border: none;
    margin-bottom: 25px;
    @include h5;
    align-self: center;

    &::placeholder {
      color: $black;
    }
  }

  // чекбокс стили

  &__consent-container {
    margin-bottom: 27px;
    padding-left: 42px;
  }

  &__consent-label {
    padding-left: 44px;
    position: relative;
    display: inline-block;
    @include font-size-smallest;
    color: $black;
    cursor: pointer;

    br {
      display: none;
    }
  }

  &__consent-link {
    color: $olive-dark;
  }

  &__consent-link:hover {
    text-decoration: underline;
  }

  &__consent-checkbox {
    display: none;
  }

  &__consent-label::before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    border: 1px solid $white;
    cursor: pointer;
  }

  &__consent-checkbox:checked + &__consent-label::before {
    content: url("../icons/checked.svg");
    height: 20px;
    width: 20px;
  }


  &__button {
    align-self: center;
    width: 317px;
  }
}

@include tablets {

  .faq-guide {
      grid-template-columns: 1fr; // Вертикальное расположение на узких экранах

  padding: 0 20px;
  margin-bottom: 100px;
  }

  .faq {
    &__title {
      text-align: center;
    }
}

.guide {

  &__subtitle {
    margin-bottom: 40px;
  }

  &__image {
    display: none;
  }

  &__form {
    align-items: center;
  }

  &__input {
    width: 311px;
  }

  &__consent-container {
    margin-bottom: 27px;
    padding-left: 0;
  }
  
  &__consent-label {
    br {
      display: block;
    }
  }
}

}

@include phones {

  .faq-guide {

  padding: 0 16px;
  margin-bottom: 116px;
  }

  .faq {
    &__title {
      @include h5;
      text-align: center;
    }

    &__question {
      @include h6;
      font-weight: bold;
    }

    &__icon {
      width: 30px;
      height: 30px;
    }
  
    &__answer {
      margin-top: 34px;
      @include font-size-smallest;
    }
  
    &__answer--visible {
      display: block;
      width: 100%;
    }
}

  .guide {
    display: none;
  }
}

