.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0; // Скрыто изначально
  visibility: hidden; // Скрываем элемент
  transition: opacity 0.3s, visibility 0.3s;
  display: flex;
  flex-direction: column;
  width: 191px;
  height: 191px;
  border: none;
  background-color: $white;
  color: $black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  @include h5;
  gap: 15px;
  width: 124px;
  height: 124px;
  background-color: $olive-light;
  color: $white;
  &:hover {
    cursor: pointer;
    background-color: $olive-dark;
  }


  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
