.service {
  position: relative;
  height: 501px; // Задаем высоту первого экрана
  background: url('../img/serviceHeroBg.jpg') no-repeat center center / cover; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  &__title {
    @include h1; 
    color: $white;
  }

  @include phones {

    height: 324px; // Задаем высоту первого экрана
    margin-bottom: 13px;
    background: url('../img/serviceHeroBgPhones.jpg') no-repeat center center / cover; 

    &__title {
      @include h5; 
      font-weight: bold;
      margin-top: 50px;
    }
  }
}
