.service {
  position: relative;
  height: 501px; // Задаем высоту первого экрана
  background: url('../img/serviceHeroBg.jpg') no-repeat center center / cover; // Замените на путь к фоновому изображению
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    @include h1; 
    color: $white;
  }
}
