.order-service {
  margin: 0 12.5% 111px 12.5%;
  padding: 7.4% 5.5% 3.3%;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  // minmax(300px, 660px);
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "title form"
    "contacts form";
  gap: 40px 57px;
  @include h5;
  line-height: normal;
  color: $black;

  &__title {
    grid-area: title;
    @include h3;
  }

  &__contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__contacts-insta {
    margin-top: 13px;
    width: 50px;
    height: 50px;
  }

  &__contacts-insta-link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__button-container {
    align-self: flex-end;
  }
}

.form {
  max-width: 660px;
  grid-area: form;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 24px;

  &__input-container {
    height: 50px;
    max-width: 660px;
    min-width: 300px;
  }

  &__input {
    padding: 16px 10px 16px 22.5px;
    height: 100%;
    width: 100%;
    border: 0.7px solid $olive-light;
    background: $white;
  }

  &__input::placeholder {
    color: $brown;
  }

  &__comments-container {
    height: 124px;
  }

  &__input--tel {
    padding: 10px 480px 10px 22px;
  }

  &__input--comments {
    padding: 10px 10px 10px 22.6px;
  }
  // стилизую чекбокс создавая custom checkbox и скрываю оригинальный
  &__consent-text {
    padding-left: 44px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: $olive-light;
  }

  &__consent-checkbox {
    display: none;
  }

  &__consent-text::before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    border: 1px solid $olive-light;
  }

  &__consent-checkbox:checked + &__consent-text::before {
    content: url("../icons/akar-icons_check.svg");
    height: 20px;
    width: 20px;
    border: none;
  }
}
