.service-detail {
  margin: 0 292px 155px;

  &__back {
    margin-bottom: 100px;
  }

  &__back-link {
    text-decoration: none;
    color: $black;
    @include h5;
    display: inline-flex;
    align-items: center;
    gap: 42px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__back-icon {
    width: 66px; 
    height: 30px; 
  }

  &__content {
    display: flex;
    gap: 83px;
    align-items: center;
  }

  &__image {
    flex: 1;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__description {
    flex: 1;
  }

  &__title {
    @include h2;
    margin-bottom: 56px;
    color: $black;
  }

  &__text {
    @include h5;
    color: $black;
  }

  @include tablets {

    margin: 0 20px; 
    margin-bottom: 108px;

    &__content {
      display: flex;
      flex-direction: column-reverse;
      gap: 83px;
      align-items: center;
    }
  }

  @include phones {

    margin: 0 16px; 
    margin-bottom: 99px;

    &__content {
      gap: 47px;
    }

    &__back {
      margin-bottom: 58px;
    }
  
    &__back-link {
      @include font-size-smallest;
        gap: 12px;
    }
  
    &__back-icon {
      width: 25px; 
      height: 15px; 
    }

    &__title {
      @include h5;
      margin-bottom: 26px;
    }
  
    &__text {
      @include font-size-smallest;
    }
  }
}

.service-gallery {
  margin: 0 292px 125px;

  &__img-container {
    width: 100%;
    max-height: 387px;
    max-width: 430px;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__banner {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 23px;
    grid-template-areas: "form imgs";
  }

  &__imgs {
    display: none;
  }
  &__img-container4 {
    grid-area: pic1;
    max-width: 883px;
  }

  &__img-container2 {
    grid-area: pic2;
  }

  &__img-container3 {
    grid-area: pic3;
  }

  &__img-container1 {
    display: none;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Три колонки
    grid-template-rows: auto auto auto; // Три строки
    gap: 23px;
  }

  &__item--title {
    grid-column: 2 / 4; // Занимает 2 3 колонки
    grid-row: 1 / 2; // Первая строка
    @include h4;
    color: $black;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 85px;
  }

  &__item--image {
    grid-column: 1 / 2; // Первая колонка
    grid-row: 2 / 3; // Вторая строка
    width: 100%;
    object-fit: cover;
  }

  &__item--wide {
    grid-column: 2 / 4; // Растянуто на 2 и 3 колонку
    grid-row: 2 / 3; // Вторая строка
    width: 100%;
    object-fit: cover;
  }

  &__item--text {
    grid-row: 3 / 4; // Третья строка
    grid-column: 1 / 2; // Первая колонка
    background-color: rgba($light-green, 0.75); // Цвет немного светлее
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 118px 65px;
    @include h5;
    font-style: italic;
    color: $black;
  }

  &__item--small {
    grid-row: 3 / 4; // Третья строка
    grid-column: auto; // Каждое изображение занимает свою колонку
    width: 100%;
    object-fit: cover;
  }

  @include tablets {

    margin: 0 20px 78px;

    &__banner {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "imgs"
        "form";
      gap: 50px;
    }
    &__imgs {
      @include horizontal-carousel;
    }

    &__img-container1 {
      display: block;
    }

    &__img-container {
      @include horizontal-carousel__container;
    }

    &__img-container4 {
      width: 768px;
    }


    &__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr); // Три колонки
      grid-template-rows: auto; // Три строки
      gap: 23px;
    }

    &__item--title {
      grid-column: 1 / 2; // Занимает 2 3 колонки
    }

    &__item--image {
      display: none;
    }
  
    &__item--wide {
      display: none;
    }
  
    &__item--text {
      display: none;
    }
  
    &__item--small {
      display: none;
    }
  }

  @include phones {

    margin: 0 16px 78px;

    &__banner {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "imgs"
        "form";
      gap: 50px;
    }
    &__imgs {
      @include horizontal-carousel;
    }

    &__img-container1 {
      display: block;
    }

    &__img-container {
      @include horizontal-carousel__container;
    }

    &__img-container4 {
      width: 440px;
    }

    &__item--title {
      @include h5;
      margin-bottom: 42px;
    }
  }
}

.service-section {
  margin: 0 537px 57px; // Отступы для секции
  background-color: #fff; // Цвет фона

  &__title {
    @include h2;
    color: $black;
    margin-bottom: 47px;
    text-align: center;
  }

  &__text {
    @include h5;
    color: $black;
    text-align: center;
  }

  @include tablets {
    margin: 0 20px 57px; // Отступы для секции
  }

  @include phones {
    margin: 0 16px 99px; // Отступы для секции

    &__title {
      @include h5;
      color: $black;
      margin-bottom: 37px;
    }
  
    &__text {
      @include font-size-smallest;
      text-align: left;
    }
  }
}
