.service-detail {
  margin: 0 292px 155px;

  &__back {
    margin-bottom: 100px;
  }

  &__back-link {
    text-decoration: none;
    color: $black;
    @include h5;
    display: inline-flex;
    align-items: center;
    gap: 42px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__back-icon {
    width: 66px; 
    height: 30px; 
  }

  &__content {
    display: flex;
    gap: 83px;
    align-items: center;
  }

  &__image {
    flex: 1;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__description {
    flex: 1;
  }

  &__title {
    @include h2;
    margin-bottom: 56px;
    color: $black;
  }

  &__text {
    @include h5;
    color: $black;
  }

  @include tablets {

    margin: 0 20px; 
    margin-bottom: 108px;

    &__content {
      display: flex;
      flex-direction: column-reverse;
      gap: 83px;
      align-items: center;
    }
  }

  @include phones {

    margin: 0 16px; 
    margin-bottom: 99px;

    &__content {
      gap: 47px;
    }

    &__back {
      margin-bottom: 58px;
    }
  
    &__back-link {
      @include font-size-smallest;
        gap: 12px;
    }
  
    &__back-icon {
      width: 25px; 
      height: 15px; 
    }

    &__title {
      @include h5;
      margin-bottom: 26px;
    }
  
    &__text {
      @include font-size-smallest;
    }
  }
}
