* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   font-size: $baseFontSize;
// }

body {
  // font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  // line-height: 1.42;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // position: relative;
  // color: $body;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

