.footer{
    height: 225px;
    background-color: #545A2F;
    &__container{
        @include margin-header-footer-1920;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
    }
    &__contacts{
        display: grid;
        grid-template-rows: 1fr 1fr 2fr;
        padding-top: 50px;
    }
    &__contact-item {
        @include header-nav-font;
        font-size: 20px;
        color: #FFFFFF;
    }
    &__contact-item.footer__contact-item--top {
        display: grid;
        padding-top: 50px;
        font-family: "Noah";
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    }
    &__logo{
        display: grid;
        justify-content: center;
        align-content: center
    }
    &__icon{
        display: grid;
        justify-items: end;
        align-content: space-around;
        gap: 32%;
    }
    &__icon-link{
        color: #FFFFFF;
        font-family: "Noah";
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    }
}
