.footer{
    height: 225px;
    background-color: $olive-dark;
    width: 100%;
    &__container{
        @include margin-header-footer-1920;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
    }
    &__contacts{
        display: grid;
        grid-template-rows: 1fr 1fr 2fr;
        padding-top: 50px;
    }
    &__contact-item {
        @include header-nav-font;
        line-height: normal;
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
    }
    &__contact-item.footer__contact-item--top {
        display: grid;
        padding-top: 50px;
        @include h6;
        font-size: $font-size-smalles;
    }
    &__logo{
        display: grid;
        justify-content: center;
        align-content: center
    }
    &__icon{
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-top: 50px;
        justify-items: end;
        align-content: space-around;
        color: #FFFFFF;
        @include h6;
        font-size: $font-size-smalles;
        gap: 60px;
    }
    &__icon-link.footer__icon-link--top{
        display: grid;
        font-size: $font-size-h6;
        padding-top: 20px;
    }
        &__icon-link {
            padding-bottom: 20px;
        }
    @include phones{ // адаптив
        &{
            height: 520px;
            width: 100%;
            margin: 0;
        }
        &__container{
            @include margin-header-footer-440;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            padding: 0;
        }
        &__logo {
            grid-column: 1; // Логотип занимает первую строку
            grid-row: 1; // Первую ячейку
            padding: 20px 0;
        }
        &__contacts {
            display: grid;
            position: relative;
            grid-column: 1; // Контакты занимают ту же колонку
            grid-row: 2; // Вторую ячейку
            padding-top: 0px; 
            text-align: center;
            grid-template-rows: auto;
        }
        &__contact-item.footer__contact-item--top{
            position: absolute;
            bottom: -120px;
            padding-left: 16px;
            font-size: $font-size-h6;
        }
        &__icon {
            position: relative;
            grid-column: 1; // Иконки также могут занимать третью строку, если нужно
            grid-row: 3; // Третью ячейку
            justify-items: center;
            padding: 0;
            gap: 0;
        }
        &__icon-link.footer__icon-link--top{
            padding: 0;
            padding-right: 170px;
        }

    }
        @include tablets {
            &__container {
                height: auto;
            }
        }
}
