.footer{
    background-color: $olive-dark;
    &__container{
        @include padding-header-footer-1920;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content min-content;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    &__contacts{
        display: grid;
        grid-template-rows: 1fr 2fr;
    }
    &__contact-item {
        @include header-nav-font;
        line-height: normal;
        font-size: $font-size-contact-item;
        font-weight: 400;
        color: $white;
    }
    &__copyright{
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    &__copyright-link{
        @include h6;
        font-size: $font-size-smallest;
        color: $white;
        display: grid;
        align-items: end
    }
    &__logo{
        grid-column: 2/2;
        grid-row: 1/3;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    &__icon{
        display: grid;
        justify-items: end;
    }
    &__privacy-policy{
        display: grid;
        justify-items: end;
        align-items: end;
        color: $white;
        @include h6;
        font-size: $font-size-smallest;
    }
    // адаптив для 768
    @include tablets{
        &__container{
            @include padding-header-footer-768;
        }
    }
    // адаптив для 440
    @include phones{
        &__container{
            @include padding-header-footer-440;
            height: auto;
            grid-template-columns: 1fr;
            padding-bottom: 20px;
        }
        &__contacts {
            grid-row: 2/3;
            grid-column: 1/4;
            justify-items: center;
        }
        &__copyright {
            grid-column: 1/2;
            grid-row: 3/4;
        }
        &__logo {
            grid-row: 1/2;
            grid-column: 1/2;
            padding-bottom: 30px;
        }
        &__icon {
            justify-items: end;
            grid-area: icon;
            grid-column: 1/2;
            grid-row: 2/3;
            justify-content: center;
            padding-top: 30%;
        }
        &__privacy-policy {
            grid-column: 1/2;
            grid-row: 3/4;
            align-items: start;
            justify-items: start;
            padding-top: 20%;
            padding-bottom: 30px;
        }
    }
}