// миксины для общих боковых марджинов
// @mixin margin-lateral-1920 {
//   margin-left: 16%;
//   margin-right: 16%;
// }

// @mixin margin-lateral-768 {
//   margin-left: 20px;
//   margin-right: 20px;
// }

// @mixin margin-lateral-440 {
//   margin-left: 10px;
//   margin-right: 10px;
// }

// миксины для отступов у хедера и футера
@mixin padding-header-footer-1920 {
  padding-left: 5.2%;
  padding-right: 5.2%;
}

@mixin padding-header-footer-768 {
  padding-left: 4%; //32px примерно
  padding-right: 4%;
}

@mixin padding-header-footer-440 {
  padding-left: 16px;
  padding-right: 16px;
}

// общие миксины для шрифтов h1-h6
@mixin h1 {
  font-family: $font-family-noah;
  font-weight: $font-weight-700;
  font-size: $font-size-h1;
  line-height: $line-height;
  font-style: normal;
}

@mixin h2 {
  font-family: $font-family-noah;
  font-weight: $font-weight-400;
  font-size: $font-size-h2;
  line-height: $line-height;
  font-style: normal;
}

@mixin h3 {
  @include h2;
  font-size: $font-size-h3;
}

@mixin h4 {
  @include h2;
  font-size: $font-size-h4;
}

@mixin h5 {
  @include h2;
  font-size: $font-size-h5;
}

@mixin h6 {
  @include h2;
  font-size: $font-size-h6;
}

@mixin font-size-smallest {
  @include h2;
  font-size: $font-size-smallest;
}

@mixin marck-font {
  font-family: $font-family-marck;
  font-weight: $font-weight-400;
  font-size: $font-size-marck;
  line-height: $line-height;
}

@mixin button-transparent {
  @include h1;
  font-size: $font-size-button-transparent;
}

@mixin faq-question {
  @include h1;
  font-size: $font-size-faq-question;
}

// миксин для шрифта в шапке
@mixin header-nav-font {
  font-family: $font-family-geometria;
  font-weight: $font-weight-500;
  font-size: $font-size-h5;
  line-height: $line-height-100;
  font-style: normal;
}

// миксин для шрифта Геометрия в пагинации
@mixin geometria-400-font {
  font-family: $font-family-geometria;
  font-weight: $font-weight-400;
  font-size: $font-size-pagination;
  line-height: $line-height;
  font-style: normal;
}
