.project,
.back-to-portfolio,
.order-project {
  margin-left: 15.2%;
  margin-right: 15.2%;
  @include h5;
  color: $black;
}

.back-to-portfolio {
  margin-bottom: 100px;
  &__link {
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
  }

  &__icon {
    width: 66px;
    height: 30px;
  }
}

.project {
  margin-bottom: 147px;

  &__details {
    margin-bottom: 110px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 66px;
  }

  &__details--img-left {
    grid-template-areas: "pic text";
  }

  &__details--img-right {
    grid-template-columns: auto auto;
    grid-template-areas: "text pic";
  }

  &__details-description {
    grid-area: text;
    max-width: 597px;
  }

  &__details-img-container {
    grid-area: pic;
    align-self: center;
    width: 100%;
    // height: 536px;
    // aspect-ratio: 5 / 4;
    // overflow: hidden;
  }

  &__details-img {
    height: 100%;
    width: 100%;
    // object-fit: cover;
    object-fit: contain;
  }

  &__text--grey {
    color: $grey1;
  }

  // styles for the first project__details
  &__details-description--long {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 47px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    @include h2;
  }

  &__features {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "year square"
      "location location";
    gap: 26px 90px;
  }

  &__feature-year {
    grid-area: year;
  }

  &__feature-square {
    grid-area: square;
  }

  &__feature-location {
    grid-area: location;
  }

  &__feature-name {
    font-size: $font-size-h6;
  }

  // styles for the second project__details
  &__details--narrow {
    padding-left: 11.1%;
    padding-right: 7.2%;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 50px;
  }

  &__details--narrow &__details-description {
    padding-bottom: 50px;
    align-self: center;
    color: $forest;
    @include h4;
  }

  //   &__details--narrow &__details-img-container {
  //     height: 495px;
  //     aspect-ratio: 1.2 / 1;
  //   }

  // styles for the third project__details
  &__details--big-gap {
    gap: 109px;
    margin-bottom: 132px;
  }

  &__details--big-gap &__details-description {
    padding-top: 61px;
  }
}

.order-project {
  &__text {
    width: 500px;
    margin: 0 auto 66px;
    text-align: center;
    @include h4;
    color: $forest;
  }
  &__img-container {
    width: 100%;
    max-height: 387px;
    max-width: 430px;
  }

  &__img-container > img {
    height: 100%;
    width: 100%;
    // object-fit: contain;
    object-fit: cover;
  }
  &__banner {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto;
    gap: 23px;
    grid-template-areas:
      "form pic1 pic1"
      "form pic2 pic3";
  }

  &__img-container1 {
    grid-area: pic1;
    max-width: 883px;
  }

  &__img-container2 {
    grid-area: pic2;
  }

  &__img-container3 {
    grid-area: pic3;
  }

  &__img-container4 {
    display: none;
  }

  &__title-form {
    grid-area: form;
    padding: 0 19px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-color: $olive-dark;
    color: $white;
  }

  &__title {
    @include h2;
    text-align: center;
  }

  &__subtitle {
    padding-bottom: 15px;
    max-width: 351px;
    @include h5;
    text-align: center;
  }

  //redefine some of form styles using higher weight of selectors through nesting
  &__form {
    gap: 36px;
    justify-items: center;

    .form__input-group {
      gap: 32px;
    }

    .form__consent-label {
      padding-left: 41px;
      width: 80%;
      min-width: 312px;
      color: $white;
    }

    .form__consent-link {
      color: $black;
    }

    .form__consent-label::before {
      border-color: $white;
      top: 5px;
      pointer-events: none;
    }

    .form__consent-checkbox:checked + .form__consent-label::before {
      content: url("../icons/checked-white.svg");
    }
  }

  .button {
    width: 289px;
    height: 60px;
  }
}
