//colors 
$olive-dark: #545A2F;
$olive-light: #99A18E;
$brown: #63533E;
$black: #1A1A18;
$white: #ffffff;

//breakpoints
$tablets: 768px;
$phones: 440px;

//fonts 
$font-family-noah: "Noah", sans-serif;
$font-family-marck: "Marck Script", cursive;
$font-family-geometria: "Geometria", sans-serif;

$font-weight-700: 700;
$font-weight-500: 500;
$font-weight-400: 400;

$font-size-h1: 70px;
$font-size-h2: 58px;
$font-size-h3: 48px;
$font-size-h4: 38px;
$font-size-h5: 24px;
$font-size-h6: 18px;
$font-size-smallest: 16px;
$font-size-marck: 70px;

$line-height: normal;
$line-height-100: 100%;
