//colors
$olive-dark: #545a2f;
$olive-light: #99a18e;
$brown: #63533e;
$black: #1a1a18;
$white: #ffffff;
$light-green: #e9ece0;
$gray: #979797;
$green: #dde3e1;
$forest: #5b6460;
$grey1: #333;
$light-grey: #c4c4c4;

//breakpoints
$tablets: 768px;
$phones: 440px;

//fonts
$font-family-noah: "Noah", sans-serif;
$font-family-marck: "Marck Script", cursive;
$font-family-geometria: "Geometria", sans-serif;

$font-weight-700: 700;
$font-weight-500: 500;
$font-weight-400: 400;

$font-size-h1: 70px;
$font-size-h2: 58px;
$font-size-h3: 48px;
$font-size-h4: 38px;
$font-size-h5: 24px;
$font-size-h6: 18px;
$font-size-smallest: 16px;
$font-size-marck: 70px;
$font-size-marck: 96px;

$font-size-label-focus: 12px;
$font-size-label-consent-phone: 14px;

$font-size-button-transparent: 20px;

$font-size-faq-question: 28px;
$font-size-pagination: 17px;

$line-height: normal;
$line-height-100: 100%;
