@import "./normalize.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #545a2f;
}

@font-face {
  font-family: "Noah";
  src: url("../fonts/Noahbold.woff2") format("woff2"),
    url("../fonts/Noahbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  font-family: "Noah";
  src: url("../fonts/Noahregular.woff2") format("woff2"),
    url("../fonts/Noahregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Marck Script";
  src: url("../fonts/marckscript.woff2") format("woff2"),
    url("../fonts/marckscript.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.woff2") format("woff2"),
    url("../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.button {
  width: 240px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  color: #1a1a18;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
}
.button:hover {
  cursor: pointer;
  background-color: #545a2f;
  color: #ffffff;
}

.button--olive {
  background-color: #545a2f;
  color: #ffffff;
  border: none;
}
.button--olive:hover {
  background-color: #99a18e;
}

.button--olive-large {
  width: 311px;
  background-color: #545a2f;
  color: #ffffff;
}
.button--olive-large:hover {
  background-color: #99a18e;
}

.button--transparent {
  height: 38px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Noah", sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: normal;
  font-style: normal;
  font-size: 20px;
}
.button--transparent:hover {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
}

.button--outline-white {
  width: 311px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.button--outline-white:hover {
  background-color: #ffffff;
  color: #1a1a18;
  border: none;
}

.button--outline-green {
  width: 311px;
  background-color: transparent;
  color: #545a2f;
  border: 1px solid #545a2f;
}
.button--outline-green:hover {
  color: #ffffff;
  border: none;
}

.button-round {
  display: flex;
  flex-direction: column;
  width: 191px;
  height: 191px;
  border: none;
  background-color: #ffffff;
  color: #1a1a18;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
}

.button-round--arrow .button-round__icon--white {
  display: none;
}
.button-round--arrow:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #545a2f;
}
.button-round--arrow:hover .button-round__icon--black {
  display: none;
}
.button-round--arrow:hover .button-round__icon--white {
  display: block;
}

.button-round--up {
  width: 124px;
  height: 124px;
  background-color: #99a18e;
  color: #ffffff;
}
.button-round--up:hover {
  cursor: pointer;
  background-color: #545a2f;
}

.garden-guide {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px 0;
  align-items: flex-start;
  background-image: linear-gradient(
    rgba(153, 161, 142, 0.3),
    rgba(153, 161, 142, 0.3)
  );
  background-repeat: no-repeat;
  background-size: 100% clamp(200px, 26.34vw, 335px);
  background-position: 0 clamp(150px, 19.41vw, 315px);
  margin-bottom: 100px;
}
.garden-guide__book {
  flex: 1 1 40%;
  display: flex;
  justify-content: flex-end;
}
.garden-guide__book-image {
  max-width: 100%;
  height: auto;
}
.garden-guide__content-wrapper {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.garden-guide__title {
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  text-align: left;
  margin: 0 0 10px 0;
}
.garden-guide__subtitle {
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
  color: #1a1a18;
  text-align: left;
  margin: 0 0 25px 0;
}
.garden-guide__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.garden-guide__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 20px;
}
.garden-guide__input {
  padding: 10px 0px 10px 30px;
  border: none;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
}
.garden-guide__input::-moz-placeholder {
  color: #63533e;
}
.garden-guide__input::placeholder {
  color: #63533e;
}
.garden-guide__consent {
  display: flex;
  align-items: center;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 16px;
  color: #1a1a18;
}
.garden-guide__link {
  color: #545a2f;
  text-decoration: none;
}
.garden-guide__link:hover {
  text-decoration: underline;
}
.garden-guide__button {
  width: 100%;
  max-width: 311px;
  height: 60px;
  background-color: #545a2f;
  color: #ffffff;
  border: none;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
}
.garden-guide__button:hover {
  background-color: #99a18e;
  cursor: pointer;
}
.garden-guide__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #99a18e;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
}
.garden-guide__checkbox:checked {
  background-image: url("../../icons/checked.png");
  background-color: #545a2f;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  .garden-guide {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .garden-guide__book {
    order: 2;
    justify-content: center;
  }
  .garden-guide__title {
    order: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  .garden-guide__subtitle {
    order: 1;
    text-align: center;
    margin-bottom: 20px;
  }
  .garden-guide__content-wrapper {
    order: 3;
    align-items: center;
  }
  .garden-guide__content {
    align-items: center;
  }
  .garden-guide__button {
    width: 100%;
  }
}
