// import files with mixins and variables
@import "./vars";
@import "./mixins";
@import "./base";
@import "./media";

// import fonts
@import "../fonts/fonts";

// link normalize
@import "./normalize.css";
// link blocks
@import "./blocks/forms";
@import "./blocks/services_order-service.scss";
@import "./blocks/popup-windows";
