@import "./normalize.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #545a2f;
}

@font-face {
  font-family: "Noah";
  src: url("../fonts/Noahbold.woff2") format("woff2"), url("../fonts/Noahbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noah";
  font-family: "Noah";
  src: url("../fonts/Noahregular.woff2") format("woff2"), url("../fonts/Noahregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Marck Script";
  src: url("../fonts/marckscript.woff2") format("woff2"), url("../fonts/marckscript.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #545a2f;
}

.order-service {
  margin: 0 12.5% 130px 12.5%;
  padding: 107px 5.5% 47px;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "title form" "contacts form";
  gap: 40px 57px;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
  line-height: normal;
  color: #1a1a18;
}
.order-service__title {
  grid-area: title;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 48px;
}
.order-service__contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.order-service__contacts-insta {
  margin-top: 13px;
  width: 50px;
  height: 50px;
}
.order-service__contacts-insta-link {
  display: block;
  width: 100%;
  height: 100%;
}
.order-service__button-container {
  justify-self: end;
}

.form {
  grid-area: form;
  display: grid;
  grid-auto-rows: auto;
  gap: 24px;
}
.form__input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.form__input-container {
  height: 50px;
  max-width: 660px;
  min-width: 300px;
  position: relative;
}
.form__input-field {
  padding: 18px 10px 5px 23px;
  height: 100%;
  width: 100%;
  border: 0.7px solid #99a18e;
  background: #ffffff;
  color: #63533e;
}
.form__comments-container {
  height: 124px;
}
.form__comments-field {
  padding-left: 23px;
  padding-top: 18px;
  height: 100%;
  width: 100%;
  border: 0.7px solid #99a18e;
  background: #ffffff;
}
.form__input-label {
  position: absolute;
  top: 10px;
  left: 22px;
  pointer-events: none;
  transition: transform 0.1s ease-in-out;
  color: #63533e;
}
.form__input-field:not(:-moz-placeholder-shown) ~ .form__input-label {
  transform: scale(0.5) translateY(-30px) translateX(-30px);
}
.form__input-field:focus ~ .form__input-label, .form__input-field:not(:placeholder-shown) ~ .form__input-label {
  transform: scale(0.5) translateY(-30px) translateX(-30px);
}
.form__comments-field:not(:-moz-placeholder-shown) ~ .form__comments-label {
  transform: scale(0.5) translateY(-30px) translateX(-75px);
}
.form__comments-field:focus ~ .form__comments-label, .form__comments-field:not(:placeholder-shown) ~ .form__comments-label {
  transform: scale(0.5) translateY(-30px) translateX(-75px);
}
.form__input-label--default {
  position: absolute;
  top: 10px;
  left: 22px;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  color: #63533e;
}
.form__input-label--focus {
  position: absolute;
  color: #63533e;
  top: 2px;
  left: 19px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.form__input-field--tel:not(:-moz-placeholder-shown) ~ .form__input-label--default {
  opacity: 0;
}
.form__input-field--tel:not(:placeholder-shown) ~ .form__input-label--default, .form__input-field--tel:focus ~ .form__input-label--default {
  opacity: 0;
}
.form__input-field--tel:not(:-moz-placeholder-shown) ~ .form__input-label--focus {
  opacity: 1;
}
.form__input-field--tel:not(:placeholder-shown) ~ .form__input-label--focus, .form__input-field--tel:focus ~ .form__input-label--focus {
  opacity: 1;
}
.form__consent-label {
  padding-left: 44px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #1a1a18;
}
.form__consent-link {
  color: #545a2f;
}
.form__consent-link:hover {
  text-decoration: underline;
}
.form__consent-checkbox {
  display: none;
}
.form__consent-label::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  border: 1px solid #99a18e;
}
.form__consent-checkbox:checked + .form__consent-label::before {
  content: url("../icons/akar-icons_check.svg");
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 768px) {
  .order-service {
    margin: 0px 40px 79px;
    padding: 77px 0px 0px 0px;
    gap: 40px 20px;
  }
  .form__input-container, .form__comments-container {
    min-width: 288px;
  }
}
@media screen and (max-width: 440px) {
  .order-service {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 33px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: "title" "form";
    gap: 53px;
    justify-items: center;
    font-family: "Noah", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: normal;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
  }
  .order-service__title {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 300px;
    text-align: center;
    font-family: "Noah", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: normal;
    font-style: normal;
    font-size: 24px;
  }
  .order-service__contacts {
    display: none;
  }
  .form {
    min-width: 288px;
  }
  .form__input-group {
    margin-left: 12px;
    margin-right: 10px;
    max-width: 300px;
  }
  .form__consent-container {
    margin-right: 24px;
  }
  .form__consent-label {
    font-size: 14px;
  }
}
.garden-guide {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.429fr 0.032fr 0.539fr;
  -moz-column-gap: 5%;
       column-gap: 5%;
  align-items: center;
  background-image: linear-gradient(rgba(153, 161, 142, 0.3), rgba(153, 161, 142, 0.3));
  background-repeat: no-repeat;
  background-size: 100% clamp(200px, 26.34vw, 350px);
  background-position: 0 clamp(150px, 11.41vw, 265px);
  margin-bottom: 300px;
  padding: 0 60px;
  grid-template-areas: "book title" "book subtitle" "book content";
}
.garden-guide::before {
  content: "";
  position: absolute;
  top: -88px;
  left: 0;
  transform: translateY(-50%);
  width: 930px;
  height: 930px;
  background-image: url("../img/garden-guide-bg1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}
.garden-guide::after {
  content: "";
  position: absolute;
  top: 180px;
  right: 0;
  transform: translateY(-50%);
  width: 600px;
  height: 930px;
  background-image: url("../img/garden-guide-bg2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}
.garden-guide__book {
  grid-area: book;
  justify-self: end;
  align-self: stretch;
}
.garden-guide__book-image {
  max-width: 100%;
  height: auto;
}
.garden-guide__title {
  grid-area: title;
  align-self: end;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  text-align: left;
  margin-bottom: 60px;
}
.garden-guide__subtitle {
  grid-area: subtitle;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
  color: #1a1a18;
  text-align: left;
  margin-bottom: 25px;
}
.garden-guide__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.garden-guide__form {
  display: flex;
  flex-direction: column;
  width: 68.23%;
}
.garden-guide__input {
  padding: 10px 0px 10px 30px;
  border: none;
  margin-bottom: 25px;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
}
.garden-guide__input::-moz-placeholder {
  color: #63533e;
}
.garden-guide__input::placeholder {
  color: #63533e;
}
.garden-guide__consent-container {
  margin-bottom: 25px;
}
.garden-guide__consent-label {
  padding-left: 44px;
  position: relative;
  display: inline-block;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 16px;
  color: #1a1a18;
}
.garden-guide__consent-link {
  color: #545a2f;
}
.garden-guide__consent-link:hover {
  text-decoration: underline;
}
.garden-guide__consent-checkbox {
  display: none;
}
.garden-guide__consent-label::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  border: 1px solid #ffffff;
}
.garden-guide__consent-checkbox:checked + .garden-guide__consent-label::before {
  content: url("../icons/checked.svg");
  height: 20px;
  width: 20px;
}
.garden-guide__button {
  width: 311px;
  height: 60px;
  background-color: #545a2f;
  color: #ffffff;
  border: none;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
}
.garden-guide__button:hover {
  background-color: #99a18e;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .garden-guide {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "book subtitle" "book content";
    -moz-column-gap: 2%;
         column-gap: 2%;
    row-gap: 0;
    background-size: 100% clamp(200px, 44.34vw, 350px);
    background-position: 0 clamp(150px, 20.41vw, 265px);
    padding: 0 20px;
    margin-bottom: 100px;
  }
  .garden-guide::before {
    display: none;
  }
  .garden-guide::after {
    display: none;
  }
  .garden-guide__book {
    grid-area: book;
  }
  .garden-guide__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .garden-guide__subtitle {
    align-self: flex-end;
  }
  .garden-guide__content {
    grid-area: content;
    align-items: flex-start;
    padding-bottom: 42px;
  }
  .garden-guide__form {
    width: 80%;
  }
}
@media screen and (max-width: 440px) {
  .garden-guide {
    grid-template-columns: 1fr;
    grid-template-areas: "title" "subtitle" "book" "content";
    background-size: 100% clamp(200px, 140vw, 850px);
    background-position: 0 clamp(77px, 18vw, 265px);
    padding: 0 16px;
    margin-bottom: 92px;
  }
  .garden-guide__title {
    font-family: "Noah", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: normal;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 38px;
  }
  .garden-guide__subtitle {
    font-family: "Noah", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: normal;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  .garden-guide__book {
    justify-self: center;
    width: 90%;
  }
  .garden-guide__input {
    padding: 14px;
    font-family: "Noah", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: normal;
    font-style: normal;
    font-size: 18px;
  }
  .garden-guide__form {
    width: 100%;
    padding-bottom: 26px;
  }
  .garden-guide__button {
    width: 100%;
  }

.button {
  width: 240px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  color: #1A1A18;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
}
.button:hover {
  cursor: pointer;
  background-color: #545A2F;
  color: #ffffff;
}

.button--olive {
  background-color: #545A2F;
  color: #ffffff;
  border: none;
}
.button--olive:hover {
  background-color: #99A18E;
}

.button--olive-large {
  width: 311px;
  background-color: #545A2F;
  color: #ffffff;
}
.button--olive-large:hover {
  background-color: #99A18E;
}

.button--transparent {
  height: 38px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Noah", sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: normal;
  font-style: normal;
  font-size: 20px;
}
.button--transparent:hover {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
}

.button--outline-white {
  width: 311px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.button--outline-white:hover {
  background-color: #ffffff;
  color: #1A1A18;
  border: none;
}

.button--outline-green {
  width: 311px;
  background-color: transparent;
  color: #545A2F;
  border: 1px solid #545A2F;
}
.button--outline-green:hover {
  color: #ffffff;
  border: none;
}

.button-round {
  display: flex;
  flex-direction: column;
  width: 191px;
  height: 191px;
  border: none;
  background-color: #ffffff;
  color: #1A1A18;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-family: "Noah", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: normal;
  font-style: normal;
  font-size: 24px;
}

.button-round--arrow .button-round__icon--white {
  display: none;
}
.button-round--arrow:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #545A2F;
}
.button-round--arrow:hover .button-round__icon--black {
  display: none;
}
.button-round--arrow:hover .button-round__icon--white {
  display: block;
}

.button-round--up {
  width: 124px;
  height: 124px;
  background-color: #99A18E;
  color: #ffffff;
}
.button-round--up:hover {
  cursor: pointer;
  background-color: #545A2F;
}