// import files with mixins and variables // base and media
@import "./vars";
@import "./mixins";
@import "./media";
@import "./base";

// import fonts
@import "../fonts/fonts";

// link normalize
@import "./normalize.css";

// common blocks
@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/buttons";

@import "./blocks/forms";
@import "./blocks/popup-windows";
@import "./blocks/btw-pages";
@import "./blocks/back-to";
@import "./blocks/scroll-to-top";

@import "./blocks/services_order-service.scss";
@import "./blocks/main_garden-guide";

// link blocks main page
@import "./blocks/main_hero";
@import "./blocks/main_garden";
@import "./blocks/main_landscape";
@import "./blocks/main_services";
@import "./blocks/main_projects";
@import "./blocks/main_steps";
@import "./blocks/main_advantages";
@import "./blocks/main_reviews";
@import "./blocks/main_faq";
@import "./blocks/main_questions";

// link blocks portfolio page
@import "./blocks/portfolio";

// link blocks project page
@import "./blocks/project";

// link blocks services page
@import "./blocks/services";

// link blocks service page
@import "./blocks/service";

// link blocks contacts page
@import "./blocks/contacts"; 
