
.project-portfolio{
    padding: 8% 15.2%;
}
.project-card__title{
    margin-bottom: 20px;
}
.project-card__quote{
    padding: 0 30px;
}
.gallery-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-card__button{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
/* вторая карточка */
.project-card__gallery-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding-top: 20px;
}
.project-card__gallery-2-item--1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.project-card__gallery-2-item--2 {
    grid-column: 2/4;
}
.project-card__quote--2 {
    display: grid;
    grid-column: 1/2;
    background-color: #E9ECE0;
    font-family: "Noah", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 29.98px;
    font-style: italic;
    align-items: center;
    justify-items: center;
    padding: 0 30px;
}
/* третья карточка */
.project-card__gallery-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding-top: 20px;
}
.project-card__quote--3 {
    display: grid;
    grid-column: 1/2;
    background-color: #E9ECE0;
    font-family: "Noah", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 29.98px;
    font-style: italic;
    align-items: center;
    justify-items: center;
    padding: 0 30px;
}
.project-card__gallery-3-item--1 {
    grid-column: 2/4;
    grid-row: 1/2;
}
.project-card__gallery-3-item--2 {
    grid-column: 1/2;
}
@media screen and (max-width: 1024px){
    .project-card__gallery,
    .project-card__gallery-2,
    .project-card__gallery-3 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .portfolio-title{
        font-size: 54px;
    }
    .portfolio-subtitle{
        font-size: 32px;
    }
    .project-portfolio{
        padding: 8% 10%;
    }
}
@media screen and (max-width: 768px){
    .portfolio-title{
        font-size: 46px;
    }
    .portfolio-subtitle{
        font-size: 26px;
    }
    .project-portfolio{
        padding: 5% 30px;
    }
    .project-card__title{
        font-size: 38px;
    }
}
/* мобилка */
@media screen and (max-width: 440px){
    .portfolio-title{
        font-size: 24px;
    }
    .portfolio-subtitle{
        font-size: 18px;
    }
    .project-portfolio{
        padding: 10% 0;
    }
    .project-card__title{
        padding: 0 20px;
        font-size: 24px;
    }
    .project-card__detail-label{
        font-size: 16px;
    }
    .project-card__detail-value{
        font-size: 18px;
    }
    /* для всех карточек */
    .project-card__details{
        padding: 0 20px;
        margin-right: 20px;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        gap: 30px;
    }
    /* карусель */
    .project-card__gallery {
        width: 100%;
        display: flex; /* Меняем с grid на flex */
        gap: 6px;
        scroll-behavior: smooth;
        overflow-x: auto; /* Включаем горизонтальный скроллинг */
        scroll-snap-type: x mandatory; /* Включаем snapping для карусели */
    }
    .project-card__gallery-item-1,
    .project-card__gallery-2-item--1, /* для второй карточки */
    .project-card__gallery-3-item--1,/* для третьей карточки */
    .project-card__gallery-item-2,
    .project-card__gallery-3-item--2,/* для третьей */
    .project-card__gallery-item-3,
    .project-card__gallery-item {
        flex: 0 0 auto; /* Элементы не сжимаются и отображаются в одну линию */
        width: 100%; 
        scroll-snap-align: start; /* Элемент центрируется при скролле */
        overflow: hidden; /* плавная */
    }
    .project-card__quote {
        width: 100%; /* Цитата занимает 100% ширины */
    }
    /* карусель 2 */
    .project-card__gallery-2 {
        width: 100%;
        display: flex; 
        gap: 6px;
        scroll-behavior: smooth;
        overflow-x: auto; 
        scroll-snap-type: x mandatory; 
    }
    /* карусель 3 */
    .project-card__gallery-3 {
        width: 100%;
        display: flex; 
        gap: 6px;
        scroll-behavior: smooth;
        overflow-x: auto; 
        scroll-snap-type: x mandatory; 
    }
}